.back_image {
    background: url('portrait-tattooed-male-barber-holds-4.jpg');
    background-size: cover;
    padding: 100px;
    margin-top: -20px
}
.btn {
    border: 4px solid rgb(255, 255, 255);
    color: white;
    padding: 15px;
    font-size: 150%;
    text-decoration: none;
    padding-right: 35px;
    padding-left: 35px;
}
.btn:hover {
    background-color: white;
    border: 4px solid rgb(255, 255, 255);
    color: black;

}
.headind_text {text-align: center; font-size: 65px; margin: 180px 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue; 
}
.p_text {text-align: center; font-size: 110%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 0 15%; color: aliceblue; 
 margin: 0 0 60px;
}

.row {
    width: 100%; 
    /* justify-content: center; */
    overflow: hidden;
    margin: auto;
}
.col {
    max-width: 100%;
    /* flex: 50%; */
    /* flex: 1; */
    width: 21%;
    float: left;
     padding: 0 1%;
     margin: 0 0.7%; 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
}
.bgfromimg {
    background: url(ggfg.jpg);
    background-size:cover
}
.id {
    color: rgb(245, 241, 241);
     text-decoration: none;
   }
   .font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   }
   .name {
    font-size: 38px;
    margin: 1%;
    margin-left: 1%;
    padding-left: 1%;   
   }
   .Profession {
    font-size:large; 
    margin: 1%;
   } 
   .from {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .form_height-width {
        width: 350px;
        height: 50px;
        font-size: 22px;
    }
    .from_margin {
        margin-left: 30px;
        margin-right: 23px;
        margin-top: 15px;
    }
    .from_submit {
        width: 741px;
        height: 52px;
        margin-left: 28px;
        color: white;
        background-color: black;
        margin-top: 12px;
        cursor:pointer;
    }
    .from_heding {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-align: center;
         font-size: 50px;
         margin-top: 17px;
         margin-bottom: 0px;
    }
    .from_fieldset {
        width: 800px;
        height: 570px;
        margin: auto;
        margin-top: 50px;
        background-color: white;
    }
    .awards {
        background-color: rgb(135, 196, 175);
         text-align: center;
        font-size: 350%;
    }
    .bgfrom_set_img {
        padding-top: 10px; 
        padding-bottom: 5px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .sidenav_home {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
    .icon {
        font-size:30px;
        cursor:pointer; 
        float:right;
        margin-right:100px;
    }
    .icon:hover {
        color: red;
    }